
    certbot:
        image: migasfree/certbot:$(cat ../../build/certbot/VERSION)
        env_file:
            - ../config/env/general
            - ../config/env/stack   
        deploy:
            replicas: 1
            restart_policy:
                condition: on-failure
        networks:
            - mf_network
        volumes:
            - certificates:/etc/certificates

